body {
  font-weight: 400;
  font-size: 1.25rem;
  font-family: "Inter UI", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
@font-face {
  font-family: "Inter UI";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  unicode-range: U+000-5FF;
  src: url("../fonts/Inter-UI-Regular.woff2") format("woff2"), url("../fonts/Inter-UI-Regular.woff") format("woff"); }

@font-face {
  font-family: "Inter UI";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  unicode-range: U+000-5FF;
  src: url("../fonts/Inter-UI-Medium.woff2") format("woff2"), url("../fonts/Inter-UI-Medium.woff") format("woff"); }

@font-face {
  font-family: "Inter UI";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  unicode-range: U+000-5FF;
  src: url("../fonts/Inter-UI-Bold.woff2") format("woff2"), url("../fonts/Inter-UI-Bold.woff") format("woff"); }

.logo {
  height: 80px;
}
.display-4 {
  font-weight: 600;
}
section {
  padding: 6rem 0;
}
.ribbon {
  position: absolute;
  top: 105px;
  right: 0;
}
.bd-clipboard {
   position: relative;
   display: block;
   float: right;
   margin-top: 1rem;
}
 .bd-clipboard + pre {
   margin-top: 0;
}
 .btn-clipboard {
   position: absolute;
   top: 1.65rem;
   right: 0.65rem;
   z-index: 10;
   display: block;
   padding: 0.25rem 0.5rem;
   color: #818a91;
   background-color: transparent;
   border: 1px solid;
   border-radius: 0.25rem;
}

.btn-clipboard:hover {
  color: #fff;
  background-color: #1e7e34;
}
.icon {
  font-size: 1.3rem;
}

.icon-round {
  flex-shrink: 0;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-round > .icon {
  font-size:  2rem;
}
.icon-round.bg-primary {
  background: rgba(56, 134, 89, 0.5) !important;
}
.btn.back-to-top {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  z-index: 1020;
}

.btn-round {
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.small-logo {
  height: 4rem;
}
pre {
  margin-bottom: 0;
}
pre.bash-code {
  white-space: pre-line;
}
pre code.hljs {
    padding: 1rem;
}

.tab-pane p:first-of-type {
  margin-top: 1rem;
  margin-bottom: 0;
}
.bg-primary {
  background-color: #388659 !important;
}
.btn-primary {
  background-color: #388659;
  border-color: #388659;
}
.btn-primary:hover {
  color: #fff;
  background-color: #2d6b47;
  border-color: #296241;
}
.btn {
  font-weight: 600;
}
.text-primary {
  color: #388659 !important;
}
.container a {
  color: #388659;
}
.bg-dark a {
  color: #2fc36e;
}

.nav-pills .nav-link.active {
  background-color: #388659;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: #2fc36e;
}
.decoration:not(.position-relative) {
  position: absolute; }

.decoration svg {
  background: none !important; }

.decoration.top {
  top: 0; }

.decoration.left {
  left: 0; }

.decoration.right {
  right: 0; }

.decoration.middle-y {
  top: 50%; }

.decoration.middle-x {
  left: 50%; }

.decoration.bottom {
  bottom: 0; }

svg.bg-primary * {
  fill: #388659;
}
svg.bg-dark * {
  fill: #343a40;
}

.divider {
  position: relative; }
  .divider svg {
    background: none !important;
    height: 6vw; }
    .divider svg:not([class*='bg']) path {
      fill: #fff; }
  .divider:not(:first-child) {
    top: 1px; }
  .divider:first-child {
    bottom: 1px; }
  .divider.divider-vertical {
    height: 100vh;
    width: 6rem;
    top: 0;
    left: 1px; }
    .divider.divider-vertical svg {
      height: 100vh;
      width: 6rem; }

section.has-divider {
  padding: 0; }
  section.has-divider .container {
    padding-top: 3rem;
    padding-bottom: 3rem; }

.o-hidden {
  overflow: hidden;
}
.layer-1 {
  z-index: 1;
}
.layer-2 {
  z-index: 2;
}
